nodejs  
sass 
Compass 
djangorecipe == 2.1.1
raven == 5.1.1
fabric
django-debug-toolbar
selenium
Jinja2
unittest-xml-reporting
django-cms
cmsplugin-filer
djangocms-link
djangocms-text-ckeditor
stripe
django-formtools
geopy
django-tinymce
xlwt
xlrd

